@page "/"
@using MediatR
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using QuantumSummerLab.Application.Scores.Queries
@using QuantumSummerLab.Application.Teams.Commands

@inject ProtectedSessionStorage ProtectedSessionStore
@inject IMediator Mediator

<PageTitle>Quantum Summer Lab - Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 9 Template!</MudText>

<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You can find documentation and examples on our website here:
    <MudLink Href="https://mudblazor.com" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>

<br />

<MudGrid>
    <MudItem xs="12" md="4" Class="mt-16">
        <div class="docs-sticky-info explore-text">
            <MudText Typo="Typo.h5">Example challenges</MudText>
            <MudText Typo="Typo.subtitle1">More info about example challenges</MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="8" Class="mt-16">
        <div class="explore-mudblazor-items">
            <ExploreCard Title="Challenge 0" Link="/challenge/0">
                <MudIcon Icon="@Icons.Material.Filled.MenuBook" Color="@(IsLoggedIn? IsChallenge0Completed ? Color.Tertiary : Color.Secondary : Color.Primary)" Style="font-size:64px;" />
            </ExploreCard>
        </div>
    </MudItem>
    <MudItem xs="12" md="4" Class="mt-16">
        <div class="docs-sticky-info explore-text">
            <MudText Typo="Typo.h5">Easy challenges</MudText>
            <MudText Typo="Typo.subtitle1">More info about easy challenges</MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="8" Class="mt-16">
        <div class="explore-mudblazor-items">
            <ExploreCard Title="Challenge A1" Link="/challenge/A1">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge A2" Link="/components/A2">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge A3" Link="/components/A3">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>
        </div>
    </MudItem>
    <MudItem xs="12" md="4" Class="mt-16">
        <div class="docs-sticky-info explore-text">
            <MudText Typo="Typo.h5">Moderate challenges</MudText>
            <MudText Typo="Typo.subtitle1">More info about moderate challenges</MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="8" Class="mt-16">
        <div class="explore-mudblazor-items">
            <ExploreCard Title="Challenge B1" Link="/challenge/B1">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge B2" Link="/components/B2">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge B3" Link="/components/B3">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>
        </div>
    </MudItem>
    <MudItem xs="12" md="4" Class="mt-16">
        <div class="docs-sticky-info explore-text">
            <MudText Typo="Typo.h5">Difficult challenges</MudText>
            <MudText Typo="Typo.subtitle1">More info about difficult challenges</MudText>
        </div>
    </MudItem>
    <MudItem xs="12" md="8" Class="mt-16">
        <div class="explore-mudblazor-items">
            <ExploreCard Title="Challenge C1" Link="/challenge/C1">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge C2" Link="/components/C2">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>

            <ExploreCard Title="Challenge C3" Link="/components/C3">
                <MudIcon Icon="@Icons.Material.Filled.Extension" Color="Color.Primary" Style="font-size:64px;" />
            </ExploreCard>
        </div>
    </MudItem>
</MudGrid>

@code
{
    private bool IsLoggedIn { get; set; }
    private bool IsChallenge0Completed { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authToken = await ProtectedSessionStore.GetAsync<AuthenticationToken>("authToken");

        IsLoggedIn = authToken.Success;

        if (IsLoggedIn)
        {
            var teamName = authToken.Value.TeamName;
            var result = await Mediator.Send(new GetYourScoreQuery { ChallengeName = "0", TeamName = teamName });
            IsChallenge0Completed = result.IsSuccess;
        }

        StateHasChanged();
    }
}